<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Meeting</title>
    <script src='https://meet.jit.si/external_api.js'></script>
</head>
<body>
<div id="meet" class="margin:auto; text-align:center;"></div>
<script>
    const domain = 'meet.jit.si';
    const options = {
        roomName: "Noorsmeeting/TestingThisMeeting",
        width: 700,
        height: 700,
        parentNode: document.querySelector('#meet'),
        configOverwrite: {
            startWithAudioMuted: false,
            startWithVideoMuted: true,
            requireDisplayName: true,
        },
        interfaceConfigOverwrite:
            {
                SHOW_CHROME_EXTENSION_BANNER: false,
            }
    };
    const api = new JitsiMeetExternalAPI(domain, options);
</script>
</body>

</html>